---
# Playbook to install Zeek on Ubuntu probes
- name: Install Zeek from official repository
  hosts: probes
  gather_facts: true
  pre_tasks:
    - name: Include system check tasks
      ansible.builtin.include_tasks: check_system_playbook.yaml

  tasks:
    - name: Add Zeek repository
      ansible.builtin.apt_repository:
        repo: "deb http://download.opensuse.org/repositories/security:/zeek/xUbuntu_24.04/ /"
        state: present
        filename: "security_zeek"

    - name: Add Zeek GPG key
      ansible.builtin.apt_key:
        url: "https://download.opensuse.org/repositories/security:zeek/xUbuntu_24.04/Release.key"
        state: present

    - name: Update APT repositories
      ansible.builtin.apt:
        update_cache: true

    - name: Install Zeek
      ansible.builtin.apt:
        name: zeek
        state: present

    - name: Add /opt/zeek/bin to the system PATH
      ansible.builtin.lineinfile:
        path: /etc/profile
        line: 'export PATH=$PATH:/opt/zeek/bin'
        state: present
        insertafter: EOF
...
